{% extends "base.html" %}

{% block title %}
    Document Table
{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/document_table.css' %}">

{% block content %}
    <h2 class="sub-title">Traces Table</h2>

    <table>
        <thead>
            <tr>
                {% for h, w in headers %}
                    <th class="table-header" style="width: {{ w }}px;">
                        {{ h }}
                    </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% if documents %}
                {% for d in documents %}
                    <tr>
                        <td>{{ d.agile_pn }}</td>
                        <td>{{ d.agile_rev }}</td>
                        <td>{{ d.title }}</td>
                        <td>{{ d.doc_type }}</td>
                        <td>{{ d.polarion_id }}</td>
                        <td>
                            <form method="post" class="action-form">
                                {% csrf_token %}
                                <button type="submit" name="delete" value="{{ d.id }}" class="delete-button">🗑️</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>

        <tfoot>
            <tr>
                <form method="post">
                    {% csrf_token %}
                    {% for h, w, i in table_placeholder %}
                        <td>
                            <input type="text" name="{{ i }}" placeholder="{{ h|title }}" style="width: {{ w }}px;">
                        </td>
                    {% endfor %}

                    <td>
                        <button type="submit" name="add" class="add-button">➕</button>
                    </td>
                </form>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/document_table.js' %}"></script>
{% endblock %}
