{% extends "base.html" %}

{% block title %}
Trace Visualization Tool
{% endblock %}

{% load static %}

{% block content %}
{{script|safe}}
{% include "partials/document_table.html" %}

<br>

<form method="post" id="generateForm">
	{% csrf_token %}
	<div class="center-class">
		<input type="hidden" name="generate_cytoscape" id="generate_cytoscape" value="false">
		<button type="submit" name="generateTraces" class="btn-dark" id="generateBtn">
			Generate Traces
		</button>
	</div>
</form>

<script src="{% static 'js/traces.js' %}"></script>
{% endblock %}