<table>
    <thead>
        <tr>
            {% for h, w in headers %}
                <th class="table-header" style="width: {{ w }}px;">
                    {{ h }}
                </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% if documents %}
            {% for d in documents %}
                <tr>
                    <td class="table-td center-class">{{ d.agile_pn }}</td>
                    <td class="table-td center-class">{{ d.agile_rev }}</td>
                    <td class="table-td">{{ d.title }}</td>
                    <td class="table-td">{{ d.doc_type }}</td>
                    <td class="table-td center-class">{{ d.polarion_id }}</td>
                    <td class="table-td center-class">
                        <form method="post" class="action-form">
                            {% csrf_token %}
                            <button type="submit" name="add" class="add-button">➕</button>
                            <button type="submit" name="delete" value="{{ d.id }}" class="delete-button">🗑️</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            
            {% if show_input_row %}
                <tr>
                    <form method="post" id="input-form">
                        {% include "partials/input_row.html" %}
                    </form>
                </tr>
            {% endif %}

        {% else %}
            <tr>
                <form method="post" id="empty-input-form">
                    <tbody>
                        {% include "partials/input_row.html" %}
                    </tbody>
                </form>
            </tr>
        {% endif %}
    </tbody>
</table>