{% load static %}
<table>
	<thead>
		<tr>
			{% for h, w in headers %}
			<th class="table-header" style="width: {{ w }}px;">
				{{ h }}
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% if documents %}
		{% for d in documents %}
		{% if edit_id and d.id|stringformat:"s" == edit_id|stringformat:"s" %}
		<form method="post" class="edit-form">
			{% csrf_token %}
			<input type="hidden" name="edit_id" value="{{ d.id }}">
			{% include "partials/edit_row.html" with edit_id=d.id table_placeholder=table_placeholder %}
		</form>
		{% else %}
		<form method="post" class="action-form">
			{% csrf_token %}
			<tr>
				<td class="table-td center-class">{{ d.agile_pn }}</td>
				<td class="table-td center-class">{{ d.agile_rev }}</td>
				<td class="table-td">{{ d.title }}</td>
				<td class="table-td">{{ d.doc_type }}</td>
				<td class="table-td center-class">{{ d.doc_id }}</td>
				<td class="table-td center-class">
					<button type="submit" name="add" class="icon-button add" title="Add">
						<img src="{% static 'images/add.png' %}" alt="Add" class="button-icon">
					</button>
					<button type="submit" name="edit" value="{{ d.id }}" class="icon-button edit" title="Edit">
						<img src="{% static 'images/edit.png' %}" alt="Edit" class="button-icon">
					</button>
					<button type="submit" name="delete" value="{{ d.id }}" class="icon-button delete" title="Delete">
						<img src="{% static 'images/delete.png' %}" alt="Delete" class="button-icon">
					</button>
				</td>
			</tr>
		</form>
		{% endif %}
		{% endfor %}

		{% if show_input_row %}
		{% include "partials/input_row.html" %}
		{% endif %}
		{% else %}
		{% include "partials/input_row.html" %}
		{% endif %}
	</tbody>
</table>

<script src="{% static 'js/document_table.js' %}"></script>