{% load static %}

<form method="post" id="input-form">
	{% csrf_token %}
	<tr id="input-row">
		{% for h, w, i, a in table_placeholder %}
		<td class="table-td">
			{% if i == "doc_type" %}
			<select name="{{ i }}" class="table-input" required>
				<option value="" disabled selected>-- Select --</option>
				<option value="Requirement">Requirement</option>
				<option value="Design">Design</option>
				<option value="Test">Test</option>
				<option value="Specification">Specification</option>
				<option value="Task">Task</option>
				<option value="Development">Development</option>
				<option value="Risk">Risk</option>
			</select>
			{% else %}
			<input type="text" name="{{ i }}" placeholder="{{ h|title }}" class="table-input" required>
			{% endif %}
		</td>
		{% endfor %}
		<td class="table-td center-class">
			<button type="submit" name="add" class="icon-button add" title="Done">
				<img src="{% static 'images/check.png' %}" alt="Done" style="width:16px; height:16px;">
			</button>
			<button type="button" class="icon-button delete" title="Clear" onclick="clearRow(this)">
				<img src="{% static 'images/clear.png' %}" alt="Clear" style="width:16px; height:16px;">
			</button>
			<button type="submit" name="cancel" value="true" class="icon-button delete" title="Cancel"
				onclick="removeRequired(this)">
				<img src="{% static 'images/cross.png' %}" alt="Cancel" style="width:16px; height:16px;">
			</button>
		</td>
	</tr>
</form>