<tr>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
	{% csrf_token %}
	{% for h, w, i, a in table_placeholder %}
	<td class="table-td">
		{% if i == "doc_type" %}
		<select name="{{ i }}" class="table-input" required>
			<option value="" disabled selected>-- Select --</option>
			<option value="Requirement">Requirement</option>
			<option value="Design">Design</option>
			<option value="Test">Test</option>
			<option value="Specification">Specification</option>
			<option value="Task">Task</option>
			<option value="Development">Development</option>
			<option value="Risk">Risk</option>
		</select>
		{% else %}
		<input type="text" name="{{ i }}" placeholder="{{ h|title }}" class="table-input" required>
		{% endif %}
	</td>
	{% endfor %}
	<td class="table-td center-class">
		<button type="submit" name="add" class="btn-success" title="Done">✔️</button>
		<button type="submit" name="cancel" value="true" class="btn-danger" title="Remove Row"
			onclick="removeRequired(this)">❌</button>
	</td>
</tr>